* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #deae00;
  background: linear-gradient(
    88deg,
    rgba(222, 174, 0, 1) 0%,
    rgba(253, 85, 29, 1) 100%
  );

  display: flex;
  justify-content: center;
}
.cont {
  background-color: white;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
  width: 50%;
  gap: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px #00000023;
}

button {
  background-color: #ff6600e5;
  color: white;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 20px;
  padding: 0.6rem 0.6rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

button:hover {
  box-shadow: 2px 2px 5px #00000027;
}
p {
  background-color: #0000000e;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
}

p {
  opacity: 0;
}

/* Mobile responsive */
@media (max-width: 400px) {
  .cont {
    width: 80%;
  }
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  button {
    width: 9rem;
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  p {
    font-size: 0.9rem;
  }
}
